//=============================================================================================
footer{}
//=============================================================================================
.footer-body {
	margin: 5px 0px -30px 0px;
	@include flexbox();
	height: 120px;
	justify-content: space-between;
	align-items: center;
}
.footer-body__column {
}
.footer__text {
	color: #4d4d4d;
	font-size: 15px;
	line-height: 25;
	a{text-decoration: underline;color: #4d4d4d;
		&:hover{text-decoration: none;}
	}
}
.footer__logo {}

























